.main-board {
    border-radius: 10px; 
    padding: 20px; 
    padding-left: 50px;
    width: fit-content; 
}

.partner-board {
    border-radius: 10px; 
    padding: 20px; 
    padding-right: 50px;
    width: fit-content; 
}

.side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    width: 200px;
    height: 100vh;
    background-color: white;
    position: fixed;
    border-right: 1px solid #ccc; 
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    margin-top: 30px;
}

.bottom-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.controls-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.controls-container img {
    margin-top: -30px;
    margin-right: 8px; 
}

.navigation {
    padding-bottom: 700px; 
}

.top-container {
    display: flex;
    align-items: center;
}